*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul {
  padding: 0;
  list-style: none;
}
#root,
#__next {
  isolation: isolate;
}
/* <--reset */

:root {
  font-size: 30px;
  --c-muted: var(--sl-input-placeholder-color);
  --c-border: var(--sl-panel-border-color);
}

/* Media breakpoints*/
$br-sm: 30em;
$br-md: 48em;
$br-lg: 62em;
$br-xl: 75em;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.6rem;
}

p {
  margin: 0;
}

.grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  max-width: 1200px;
  padding-inline: 16px;
  padding-inline: 38px;
}

.menu {
  display: none;
  padding-top: 70px;

  sl-menu-item {
    &::part(base) {
      font-size: 1.1rem;
      padding-left: 55px;
    }
  }

  sl-menu-item.new-category {
    &::part(base) {
      color: var(--c-muted);
    }
  }

  sl-menu-item.active-menu {
    &::part(base) {
      font-weight: 600;
      background-color: var(--sl-color-primary-600);
      color: var(--sl-color-neutral-0);
      opacity: 1;
    }
  }
}

sl-button.delete {
  &::part(base) {
    font-size: 20px;
    --sl-input-height-medium: 50px;
  }
  &::part(label) {
    padding: 0 20px;
  }
  sl-icon {
    pointer-events: none;
  }
}

.tasks-pane {
  padding-top: 40px;
  padding-bottom: 40px;
  border-left: 1px solid var(--c-border);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-2x-small);

  li {
    display: flex;
    align-items: center;
    max-width: 700px;
    gap: 10px;

    &:last-of-type {
      margin-bottom: 15px;
    }
  }

  sl-checkbox {
    flex: 1;
  }
}

sl-checkbox[checked] {
  &::part(label) {
    text-decoration: line-through;
  }
}

.addtodo-form {
  display: flex;
  max-width: 700px;
  gap: 10px;
}

.addtodo {
  flex: 1;
}

@media (width > $br-lg) {
  .grid {
    grid-template-columns: 440px 1fr;
  }
  .menu {
    display: block;
  }
}
